[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "geomorph"]
	path = geomorph
	url = https://github.com/geomorphr/geomorph
	shallow = true
	registered = true
